﻿h1 {
    margin:auto;
    padding:25px 0;
    text-align:center;
    border: 1px solid black;
}

table, tr, td, th {
    border: 1px solid black;
}
th {
    background-color: antiquewhite;
    height: 30px;
    font-size: 18px;
}
table {
    margin:auto;
    margin-top:50px;
}

td {
    width:250px;
    font-size: 18px;
}

input {
    border: 0px;
    text-align: center;
    width: 99%;
    font-size: 18px;
}

.output {
    text-align: center;
}

.non-crit {
    background-color: lightgreen;
}
    .crit {
        background-color: aquamarine;
    }